body,
html {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.shelf {
  background-image: url("/Capstone_Pantry_Lighter.png");
  background-size: 400px 150px;
}

.pantry-icon:hover .ingredient-icon-name {
  visibility: visible;
  opacity: 1;
}

.rec-swipable {
  align-items: center;
}
/* 
.grocery-list{
  font-family: 'Kalam', cursive;
} */

.mainpantry {
  background-image: url("/images/PantryPage_1.jpg");
  background-size: 450px 200px;
  min-height: 94vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .landing {
  display: flex;
  height: 90vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; 
  background-image: url("/images/Background12.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.wine {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.create-accordion {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("/images/Utensils2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}
.createForm {
  display: flex;
  /* height: 90vh; */
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1300px) {
  .search-and-results {
    flex-direction: column;
  }
}

.top-level-page {
  /* margin-top: 1.5em */
  padding-top: 120px;
}

.recipe-individual-top {
  background-image: url("/images/PantryPage_1.jpg");
  background-size: 450px 200px;
  min-height: 94vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wine-results {
  padding-left: 30px ;
  font-size: 20px;
  color: #FDF5E6
}
.dish-results {
  padding-left: 30px ;
  font-size: 20px;
  color: #FDF5E6
}
.brand-results {
  padding-left: 30px ;
  font-size: 20px;
  color: #FDF5E6
}