body{
  margin: 0;
}

.shelf{
  background-image: url('/Capstone_Pantry_Lighter.png');
  background-size: 400px 150px;
}

/* .ingredient-icon-wrapper{

} */

.ingredient-description{
  text-align: center;
  font-size: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(189, 189, 189);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.ingredient-icon-wrapper:hover .ingredient-description{
  visibility: visible;
  opacity: 1;
}

/* a:hover{
  text-decoration: none;
} */