body{
  margin: 0;
}

.shelf{
  background-image: url('/Capstone_Pantry_Lighter.png');
  background-size: 400px 150px;
}

/* .ingredient-icon-wrapper{

} */



.pantry-icon:hover .ingredient-icon-name{
  visibility: visible;
  opacity: 1;
}

.rec-swipable{
  align-items: center;
}

/* a:hover{
  text-decoration: none;
} */